In [1]:
from get_data_from_tv import save_close_prices

In [2]:
asset_dict={"KOSPI200":"KRX", "KOSPI":"KRX","KOSDAQ150":"KRX"}
interval="monthly"
data_dir="data/financial_data/krx_idx"
file_name="krx_idx.csv"

In [3]:
save_close_prices(asset_dict=asset_dict, 
                   interval=interval, 
                   data_dir=data_dir, 
                   file_name=file_name)

error while signin
you are using nologin method, data you access may be limited

Fetching monthly data for 'KOSPI200' from 'KRX'...
-> Success: Fetched 426 close prices for 'KOSPI200'.
Fetching monthly data for 'KOSPI' from 'KRX'...

ERROR:tvDatafeed.main:Connection to remote host was lost.
ERROR:tvDatafeed.main:no data, please check the exchange and symbol

-> Warning: No data returned for 'KOSPI'.
Fetching monthly data for 'KOSDAQ150' from 'KRX'...

ERROR:tvDatafeed.main:Connection to remote host was lost.
ERROR:tvDatafeed.main:no data, please check the exchange and symbol

-> Warning: No data returned for 'KOSDAQ150'.

In [4]:
import os
import pandas as pd
data_dir = os.path.join(os.getcwd(), '../..', data_dir)
file_path = os.path.abspath(os.path.join(data_dir, file_name))
print(file_path)
df = pd.read_csv(file_path)
df.head(10)

c:\Users\kim\Desktop\taekyeong\GAEMI\data\financial_data\krx_idx\krx_idx.csv

         Date   KOSPI200
0  1990-01-31  97.830002
1  1990-02-28  94.059998
2  1990-03-31  92.639999
3  1990-04-30  74.930000
4  1990-05-31  87.669998
5  1990-06-30  79.389999
6  1990-07-31  75.169998
7  1990-08-31  66.760002
8  1990-09-30  66.309998
9  1990-10-31  76.320000

In [5]:
df.tail(10)

           Date  KOSPI200
416  2024-09-30    344.76
417  2024-10-31    339.32
418  2024-11-30    325.45
419  2024-12-31    317.82
420  2025-01-31    333.36
421  2025-02-28    334.27
422  2025-03-31    332.40
423  2025-04-30    338.74
424  2025-05-31    359.62
425  2025-06-19    399.29